/* STYLES are inlined in partial/styles.html */
body {height: 100vw;min-width: 480px;margin:0;padding:0;color: #fff;font-family: Impact,Fantasy;}
.grid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 150px 150px 1fr;
  width: 100vw;
  height: 100vh;
}
aside { grid-area: 1 / 1 / 3 / 2 ;
  object-fit: contain;
  overflow: hidden;
}
header { grid-area: 1 / 2 / 2 / 3 ;
  padding: .3em;
}
    }
nav { grid-area: 2 / 2 / 3 / 3 ;
  background: rgba(0,0,0,.2);
}
main{ grid-area: 3 / 1 / 4 / 3 ;overflow-y:auto;}
@media all and (min-width: 800px) {
	.grid { grid-template-columns: 300px auto; }
	aside { grid-area: 3 / 1 / 4 / 2 ; }
	header { grid-area: 1 / 1 / 2 / 2 ; }
	nav { grid-area: 2 / 1 / 3 / 2 ; }
	main { grid-area: 1 / 2 / 4 / 4 ; }
}
nav,aside,header {
  background: rgba(0,0,0,.2);
}
nav a {display: block;
width: 100%;
height: 29%;
line-height: 40px;
margin: 1% 0;
text-align: center;
font-size: 1.5em;
letter-spacing: 2px;
background: rgb(83,135,254);
color: #c9c0f4;
text-shadow: 1px 1px 1px rgb(73,59,145);}
nav a:hover{
box-shadow: inset 0 0 8px 4px #74bcf2,0 0 2px 2px #fbfbfb;
text-shadow: 1px 1px 1px #362762;
color: rgb(232, 229, 247);
}
::selection {background: #b792e2;}
::-webkit-scrollbar-thumb {
    background: #c1d2f9;
    border-radius: 10px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px #341b4b;
    border-radius: 12px;
}
.eternia-sky{
  background:
      radial-gradient(
        circle at 30% 10%,
        rgb(112, 32, 71, 0.7),
        transparent 300px
      ),
      radial-gradient(
        ellipse at 72% 15%,
        rgba(117, 35, 77, 0.75),
        transparent 30%
      ),
      radial-gradient(
        ellipse at 55% 55%,
        rgba(110, 35, 75, 0.75),
        transparent 60% 40%
      ),
      radial-gradient(
        ellipse at 30% 78%,
        rgb(117, 40, 75, 0.8),
        transparent 28% 30%
      ),
      radial-gradient(
        at bottom right,
        rgba(255, 100, 100, 0.5),
        transparent 720px
      ),
      linear-gradient( to bottom, #4f2b7c,#28163E );
}
.battlecat {
background: rgb(51,97,24);
color: rgb(245,119,45);
}
.yellow-header{
color: rgba(254,254,21,1);
text-shadow: #ddad0be6 4px 4px 2px;
font-size: 4em;
font-stretch: expanded;
font-variant: small-caps;
font-weight: 600;
}
h1,h2,h3 {letter-spacing: 2px;color: rgb(193, 210, 249);}
h1{font-size: 48px}
h2{font-size: 40px}
h1 a,h2 a,h3 a{color: inherit;}
.sitelogo {
	background: linear-gradient(180deg, #fafafa, #4a72b6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  display: inline-block;
  margin: 0 auto;
}
.sitelogo:after {
  background: none;
  position: absolute;
  top: 0;
  z-index: -1;
  left: 50%;
  transform: translateX(-50%);
	content: attr(data-text);
	text-shadow:
		-2px 2px 1px #993333, 0 2px 1px #993333, 2px 2px 1px #993333,
		-4px 4px 2px #662222, 0 4px 2px #662222, 4px 4px 2px #662222,
		-6px 6px 3px #331111, 0 6px 3px #331111, 6px 6px 3px #331111,
		-8px 8px 4px #00000088, 0 8px 4px #00000088, 8px 8px 4px #00000088;
}
#selfportrait {width: 100%;top: 0;padding: .5em;max-width: 360px;margin: auto;}
header div{position:relative;text-align:center;margin-top: -4px;}
header p {text-align: center;margin:0;color:#ffffffee;font-family: fantasy;
    font-size: .9em;
    line-height: .8em;
    letter-spacing: 2px;}
.content{
  background: #ffffff4d;
  border-radius: 0em .5em .5em 0em;
  border-left: 2px solid #74bcf24f;
  padding: 2vh 3vw 6em 3vw;
  width: 80%;
  margin: 2vw auto;
  color: #1f1145;
  font-family: sans-serif;
  font-size: 20px;
  line-height: 1.5em;
}
.content a{color: #450988;}
.content a:visited{color: #65428c;}
figure img, .content img{max-width:100%!important;height:auto!important;margin:1em;box-shadow: 14px 14px 48px #41456fad, -14px -14px 48px #dc6ec1bf;border-radius: 3px;}

hr {margin: 4em 0;height: 1px;border: 0;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(82, 64, 90, 0.59), rgba(0, 0, 0, 0));
}
.cat-description{
-webkit-background-clip: text;
color: #c5afaf85;
background-image: linear-gradient(320.54deg, #00069F 0%, #120010 72.37%), linear-gradient(58.72deg, #3de6bf 0%, #970091 100%), linear-gradient(121.28deg, #fc653c 0%, #6C0075 100%), linear-gradient(121.28deg, #8000FF 0%, #000000 100%), linear-gradient(180deg, #dc7dd5 0%, #f7843e 0.01%, #2400FF 100%), linear-gradient(52.23deg, #0500FF 0%, #611616 100%), linear-gradient(121.28deg, #32003A 0%, #d41a1a 100%), radial-gradient(50% 72.12% at 50% 50%, #EB00FF 0%, #110055 100%);
background-blend-mode: screen, color-dodge, color-burn, screen, overlay, difference, color-dodge, normal;
font-size: larger;
font-weight: 600;
font-variant: small-caps;
text-shadow: 2px 2px 4px #391e59cc;
}
blockquote {border-left: 4px solid #c8c3de99;padding-left: 2em;font-style: italic;}
figcaption, {color:#cab4c5;margin-left: 1em;font-size: small;}
.sources li a {color:#cab4c5;font-size: small;}

.tag-wrapper{margin: 2em 0;}
.tags{padding-left:0px;display:inline;}
.tag{padding:.3em;border-radius:16px;display:inline;border:2px solid #60599c; background: #6a95eb;}
.tag a{color: #4f4988;border:0px;}

.breadcrumb{padding-left:0px;}
.breadcrumb li {display:inline;padding-right:6px;}
.breadcrumb li+li:before{content: '✠';color: #7b3030bf;font-weight: 800;padding: 0px 6px;}
.breadcrumb li.active a {color:#c1d2f999;border-bottom:0px;}

/* Text alignment */
.align-left {text-align: left;}
.align-right {text-align:right;}
.align-center {text-align:center;}
.align-justify {text-align:justify;}

/* Post images*/
.post__image--left {text-align: left;}
.post__image--right {text-align:right;}
.post__image--center {text-align:center;}
.post__image--wide {width:100%;}
.post__image--full  {width:100%;}

/* Post video*/
.post__video {}

/* Post video*/
.post__iframe {}

/* Table of content*/
.post__toc {}


/* Gallery */
.gallery {display: flex;flex-direction: row; justify-content: space-evenly;}
